body {
    background-color: white;
}
.div-signup{
    width: 700px;
}
.col-12{
    margin-top: 10px;
    margin-left: 600px;
}
.div-h1-signup{
    margin-top: 30px;
    margin-left: 800px;
}
.div-h1-login{
    margin-top: 30px;
    margin-left: 800px;
}
.h3-unauth{
    margin-top: 20px;
    margin-left: 650px;
}
.h1-profile{
    margin-left: 300px;
}
.div-profile-user{
    margin-top: 65px;
    margin-left: 800px;
}
.hr-style{
    width: 1780px;
    height: 10px;
    margin-left: 50px;
}
.div-unauth-control{
    margin-left: 550px;
}
.contact-information{
    width: 1200px;
    height: 126px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 375px;
}
/*.contacts-contact-parametr1{*/
/*    width: 202px;*/
/*    height: 62px;*/
/*    padding: 14px;*/
/*}*/
/*.contacts-contact-parametr2{*/
/*    width: 202px;*/
/*    height: 62px;*/
/*    padding: 14px;*/
/*}*/
